<!DOCTYPE html>
<html>
  <head>
    <title>Типография АО "Красная Звезда"</title>
    <%= favicon_link_tag 'logo_min.svg' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="menu">
    <table class="main-menu">
      <tr>
        <td>
          <%= link_to 'Home', root_path %>
        </td>
        <td>
          <%= link_to 'Phones', phonebook_index_path %>
        </td>
        <td>
          <%=  link_to 'About', '/' %>
        </td>
        <td>
        <%=link_to 'Download as Excel', phone_book_export_to_excel_path(format: :xlsx) %>
        </td>
        <td onclick="document.location='3-printers.html'">Принтеры</td>
        <td onclick="document.location='4-cameras.html'">IP-видеокамеры</td>
        <td onclick="document.location='5-video.html'">Видеорегистраторы</td>
      </tr>
    </table>
  </div>
  <div>
    <header>
    </header>
  </div>
    <%= yield %>
  </body>
</html>
